* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
  font-size: 15px;
  color: brown;
  line-height: 30px;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  height: 300px;
  width: 300px;
}

.listas {
  display: inline-block;
}

#licoes_aprendidas {
  margin-left: 10px;
  display: inline-block;
  float: left;
}

#licoes_a_aprender {
  margin-left: 10px;
  display: inline-block;
  float: right;
}

.lado-esquerdo {
  display: inline-block;
  width: 50%;
  margin-right: 100px;
  padding: 5px;
  text-align: justify;
}

.lado-direito {
  padding: 10px;
  width: 10%;
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
}

.table1 {
  background: orange;
  border-color: blue;
  border-style: dashed;
}

.table1 tr {
  text-align: center;
}

.table1 th {
  background: #666;
  color: white;
}
